body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  /* NAVIGATION BAR */
  .navigation-bar {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #62466b;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  .navbar-welcome {
    font-size: 16px;
  }